
p{
    color: #fff;
}
.img>h1{
    color: #fff;

}
.sam{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200731/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
}
